@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'tailwindcss';
@theme {
        --color-navBlue1: #588CD4;
        --color-navBlue2: #B2CAEB;
        --color-navBlue3: #588CD4;
        --color-navBlue4: #8CB0E2;
        --color-navIndigo:#2F18AA;
        --color-footerVioletLight:#7C3AED4D;
        --color-footerVioletDark:#7C3AED26;
        --color-subBannerBg:#797497;
        --color-bgViolet:#29205b;
        --color-infoCardBg:#777295B3;

}


.nav-gradient {
    background: linear-gradient(
        to right,
        var(--color-navBlue1),
        var(--color-navBlue2),
        var(--color-navBlue3),
        var(--color-navBlue4)
    );
    color: white; 
    padding: 1rem;
}

@keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
        
.animate-to-left {
    animation: scroll-left 6s linear infinite;
    width:100%;
}
.animate-to-left-delay {
    animation: scroll-left 5s linear infinite;
    width:100%;
}

.gradient-section {
    background: radial-gradient(
        ellipse at center 50%,
        rgb(187, 179, 205) 0%,
        #beb3ce 20%,
        var(--color-bgViolet) 70%,
        var(--color-bgViolet) 100%
    );
    background-size: cover;
    min-height: 100vh;
    background-repeat:no-repeat;
}

.girl-bg {
    background: url("/images/logo.png")
}


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
