@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-navBlue1: #1e40af;
    --color-navBlue2: #3b82f6;
    --color-navBlue3: #60a5fa;
    --color-navBlue4: #93c5fd;
    --color-bgViolet: #3c124e;
}
.nav-gradient {
    background: linear-gradient(
        to right,
        var(--color-navBlue1),
        var(--color-navBlue2),
        var(--color-navBlue3),
        var(--color-navBlue4)
    );
    color: white; 
    padding: 1rem;
}

@keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
        
.animate-to-left {
    animation: scroll-left 6s linear infinite;
    width:100%;
}
.animate-to-left-delay {
    animation: scroll-left 5s linear infinite;
    width:100%;
}

.gradient-section {
    background: radial-gradient(
        ellipse at center 50%,
        rgb(187, 179, 205) 0%,
        #beb3ce 20%,
        var(--color-bgViolet) 70%,
        var(--color-bgViolet) 100%
    );
    background-size: cover;
    min-height: 100vh;
    background-repeat:no-repeat;
}
.gradient-bg {
    background: radial-gradient(
        ellipse at center 50%,
        rgb(187, 179, 205) 0%,
        #beb3ce 20%,
        var(--color-bgViolet) 70%,
        var(--color-bgViolet) 100%
    );
    background-size: cover;
    background-repeat:no-repeat;
}

.girl-bg {
    background: url("/images/logo.png");
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Edge */
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}